{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow">

    <h2 class="text-xl font-semibold mb-6 text-center">
        Payee Registration
    </h2>

    <form method="post" enctype="multipart/form-data" class="space-y-5">
        {% csrf_token %}

				{% if form.errors %}
					<div class="bg-red-100 my-4 p-4 rounded-md">
							<strong class="text-red-700 text-base mb-4">Please correct the following errors:</strong>
							<ul class="text-sm">
							{% for field in form %}
									{% for error in field.errors %}
									<li class="mb-1.5"><span class="font-semibold text-red-800">{{ field.label }}: </span>{{ error }}</li>
									{% endfor %}
							{% endfor %}
							</ul>
							<!-- Also show non-field errors in this list -->
							<div class="text-sm font-medium">
							{{ form.non_field_errors }}
							</div>
					</div>
			{% endif %}


        <div class="rid grid-cols-1 md:grid-cols-2 gap-4">
            <!--{{ form.full_name.label_tag }} {{ form.full_name }}
            {{ form.email.label_tag }} {{ form.email }}
            {{ form.phone_number.label_tag }} {{ form.phone_number }}
						{{ form.date_of_birth.label_tag }} {{ form.date_of_birth }}-->
						{% for field in form %}
						<div class="grid grid-cols-1 md:grid-cols-2 gap-1 md:gap-2 mb-4">
							<p class="font-medium text-base md:text-base">{{field.label}}</p>
							<p>{{field}}</p>
						</div>
						{% endfor %}
        </div>

        <!--<div>
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ form.occupation.label_tag }} {{ form.occupation }}
            {{ form.id_type.label_tag }} {{ form.id_type }}
        </div>

        <div>
            {{ form.id_number.label_tag }}
            {{ form.id_number }}
        </div>

        <div>
            <label class="block font-medium mb-1">Applicable Levy Types</label>
            <div class="space-y-1">
                {{ form.levy_types }}
            </div>
        </div>

        <div>
            {{ form.passport_photo.label_tag }}
            {{ form.passport_photo }}
        </div>

        <div>
            <label class="block text-sm font-medium">Password</label>
            {{ form.password }}
				</div>-->

        <button
            type="submit"
            class="w-full bg-green-700 text-white py-2 rounded hover:bg-green-800 transition"
        >
            Register
        </button>
    </form>

    <p class="text-center text-sm mt-4">
        Already have an account?
        <a href="{% url 'login' %}" class="text-green-700 font-medium">
            Login here
        </a>
    </p>
</div>
{% endblock %}
