@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
.form-input { @apply border rounded focus:outline-none focus:ring focus:ring-green-300 px-3 py-2; }
.form-select { @apply border rounded px-3 py-2 bg-white; }
.form-textarea { @apply border rounded focus:outline-none focus:ring focus:ring-green-300 px-3 py-2; }
.form-checkbox { @apply text-gray-600; }
.success {@apply bg-green-100 text-green-700}
.error {@apply bg-red-100 text-red-700}


@source "../../../**/*.{html,py,js}";
